body{
    display:flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
}

.timerDisplay {
    border: 2px solid black;
    padding: 10px;
    width: 270px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;

    /* Fade-in animation */
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
}

@keyframes fadeInOpacity {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

#title {
    background-color: #f0f0f0;
    align-content: center;
    margin: 0;
    height: 60px;
    padding: 10px;
}

#newTimerDiv {
    display: flex;
    justify-content: center;
}

button {
    font-size: 20px;
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #2a00c0;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #6b69ff;
}

#timers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.timerButtons {
    display: flex;
}

.timerFieldName {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
}